   body {
      padding: 5px;
      background: #ECEFF1;
    }
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Sans-Serif;
    }

    #main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .title {
      text-align: center;
      font-size: 30px;
      font-family: cursive;
    }
    #form {
      text-align: center;
    }

    #form>input {
      margin: 3px 0;
      padding: 10px;
      font-size: 20px;
      background-color: #E0E0E0;
      outline: none;
      font-family: Sans-Serif;
      font-weight: bolder;
    }
    .btn {
      text-align: center;
    }
    .btn button {
      padding: 10px 20px;
      font-size: 20px;
      margin: 0 5px;
      border-radius: 50%;
      border: none;
      outline: none;
    }
    .btn button:hover {
      background: black;
      color: white;
    }
    .btn1 {
      background: #26A69A;
    }
    .btn2 {
      background: #FFA000;
    }
    .btn3 {
      background: #FF8A80;
    }
    .btn4 {
      background: #7986CB;
    }
    .result {
      font-weight: bolder;
    }
    .copy {
      text-align: center;
      margin-top: 500px;
    }
